<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue & Django</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Vue Django</h1>
    <div id="app_web">
        <table>
        <tr>
            <th>#</th>
            <th>材料</th>
            <th>厚度</th>
        </tr>
    </table>
    </div>
    <script>
        const app = new Vue({
            el:"#app_web",
            data:{
                data01:[{
                    "type":1,
                    "material":"silicon_steel",
                    "thickness":5
                }]
            },
            methods:{
                fetchData(){

                }
            }
        })
    </script>
</body>
</html>